<a href="https://colab.research.google.com/github/NikhilSingh433/Movies-Recommendation-System-/blob/main/Movies_Redomendation_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
#import the dependencies 
import numpy as np #for numpy array 
import pandas as pd #for the data frame
import difflib
from sklearn.feature_extraction.text import TfidfVectorizer #convert the texture data in to numerica value
from sklearn.metrics.pairwise import cosine_similarity #to find the cosine similarty to give closed movie for recomendation

**Data Collection and Pre-Processing **

In [27]:
#Reading the CSV file
movies_data = pd.read_csv("/content/movies.csv") #read the data from

In [28]:
#Printing the first 20 rows of the dataset
movies_data.head()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

In [29]:
#printing the rows and columns of the dataset
movies_data.shape

(4803, 24)

In [30]:
#Selecting the Relevent feature for recommendation
selected_features =['genres','keywords','tagline','cast','director']
print(selected_features)

['genres', 'keywords', 'tagline', 'cast', 'director']

In [31]:
#Replacing the null values of the data set with a string
for feature in selected_features:
 movies_data[feature] =movies_data[feature].fillna("") #fillna fills all the missing values in the columns as an empty string

In [32]:
#creating a column and combining all the selected features 
combined_features = movies_data['genres']+" "+movies_data['keywords']+" "+movies_data['tagline']+" "+movies_data['cast']++movies_data['director']

In [33]:
#Printing the combining features 
#print(combined_features)

In [34]:
#convert the text data to feature data i.e. converting the text data to numeric data
vectorizer = TfidfVectorizer()

In [35]:
#transform data to numerica value that will help us to find the cosines_similarity 
feature_vectors = vectorizer.fit_transform(combined_features)

In [36]:
#print(feature_vectors)

**Finding the Cosine Smilarity**

In [37]:
#Getting the similarity Score using cosine Similarity
similarity = cosine_similarity(feature_vectors)

In [38]:
#Printing the similarity value of all the Movies 
#print(similarity)

In [39]:
#printing the matrix size of the Similariy vale 
print(similarity.shape)

(4803, 4803)

***Getting Movie name from the user and comparing it in the Dataset***

In [40]:
#getting a movie name by the user
movie_name = input('Enter your favourite Movie Name :')

Enter your favourite Movie Name :Iron man

In [41]:
#Creating the list with all the movies names given in the data set 
list_of_all_titles = movies_data['title'].tolist()
#print(list_of_all_titles)

In [42]:
#finding the close match of the movie name given by the user in the dataset
find_close_match =difflib.get_close_matches(movie_name,list_of_all_titles)

In [43]:
#printing the close Match
print(find_close_match)

['Iron Man', 'Iron Man 3', 'Iron Man 2']

In [44]:
close_match = find_close_match[0]
print(close_match)

Iron Man

In [45]:
#finding the index of the movie with title 
index_of_the_movie = movies_data[movies_data.title ==close_match]['index'].values[0]
print(index_of_the_movie)

68

In [46]:
#getting the list of Similar movies 
similarity_score = list(enumerate(similarity[index_of_the_movie])) #enumerate isused to carryout a loop 
#print(similarity_score)

In [47]:
#length of all the movies similar to the movies
len(similarity_score)

4803

In [48]:
#sorting the movies based on their similarity Score 
Sorted_similar_movies = sorted(similarity_score, key = lambda x:x[1] , reverse = True ) #X:X[1] is the second value of the sorted_similar values  
#print(Sorted_similar_movies)

In [49]:
# print the name of similar movies based on the index
print("Movies Suggested for You :\n")
i = 1
for movie in Sorted_similar_movies:
  index = movie[0]
  title_from_index = movies_data[movies_data.index ==index]['title'].values[0]
  if (i<=20):
    print(i,'.',title_from_index)
    i+=1

Movies Suggested for You :

1 . Iron Man
2 . Iron Man 2
3 . Iron Man 3
4 . Avengers: Age of Ultron
5 . The Avengers
6 . Captain America: Civil War
7 . Captain America: The Winter Soldier
8 . Ant-Man
9 . X-Men
10 . X-Men: Apocalypse
11 . X2
12 . The Incredible Hulk
13 . The Helix... Loaded
14 . X-Men: Days of Future Past
15 . X-Men: First Class
16 . Captain America: The First Avenger
17 . Deadpool
18 . Guardians of the Galaxy
19 . Thor: The Dark World
20 . X-Men: The Last Stand

In [50]:
#Combining all the codes for the movies recommendaion
movie_name = input('Enter your favourite Movie Name :')

list_of_all_titles = movies_data['title'].tolist()

find_close_match =difflib.get_close_matches(movie_name,list_of_all_titles)

close_match = find_close_match[0]

index_of_the_movie = movies_data[movies_data.title ==close_match]['index'].values[0]

similarity_score = list(enumerate(similarity[index_of_the_movie])) #enumerate isused to carryout a loop 


Sorted_similar_movies = sorted(similarity_score, key = lambda x:x[1] , reverse = True ) #X:X[1] is the second value of the sorted_similar values
print("Movies Suggested for You :\n")
i = 1
for movie in Sorted_similar_movies:
  index = movie[0]
  title_from_index = movies_data[movies_data.index ==index]['title'].values[0]
  if (i<=20):
    print(i,'.',title_from_index)
    i+=1

Enter your favourite Movie Name :Iron man
Movies Suggested for You :

1 . Iron Man
2 . Iron Man 2
3 . Iron Man 3
4 . Avengers: Age of Ultron
5 . The Avengers
6 . Captain America: Civil War
7 . Captain America: The Winter Soldier
8 . Ant-Man
9 . X-Men
10 . X-Men: Apocalypse
11 . X2
12 . The Incredible Hulk
13 . The Helix... Loaded
14 . X-Men: Days of Future Past
15 . X-Men: First Class
16 . Captain America: The First Avenger
17 . Deadpool
18 . Guardians of the Galaxy
19 . Thor: The Dark World
20 . X-Men: The Last Stand